<component name="libraryTable">
  <library name="springutil-0.0.4.jar">
    <CLASSES>
      <root url="jar://$USER_HOME$/Downloads/springutil-0.0.4.jar.zip!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
    <jarDirectory url="jar://$USER_HOME$/Downloads/springutil-0.0.4.jar.zip!/" recursive="false" />
  </library>
</component>